//header below//

.blue-bar{
	height:45px;
	background-color: #376daf;
}

.call-header{
	text-align: right;
	color: white;
}

.color{
	border: solid purple 1px;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px #ababab;
	   -moz-box-shadow: 0 8px 6px -6px #ababab;
	        box-shadow: 0 8px 6px -6px #ababab;
}

//header-search//

.nav-search{
	display: inline-block;
}

.nav-search .search-form {
	position: relative;
	
}

.nav-search .search-field {
	float: right;
	background-color: transparent;
	background-image: url(images/search-icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 25px;
	margin: 8px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 0;
}

.nav-search .search-field:focus {
	background-image: url(images/search-icon.png);
	background-color: #fff;
	cursor: text;
	outline: 0;
	width: 230px;

}
.search-form
.search-submit { 
display:none;
}




//header above//

.site-footer{
	height: 522px;
	background-color: #376daf; 
	border: solid red 1px;
}

//search below//

