//header below//

.blue-bar{
	height:45px;
	background-color: #376daf;
}

.call-header{
	text-align: right;
	color: white;
}

.color{
	border: solid purple 1px;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px #ababab;
	   -moz-box-shadow: 0 8px 6px -6px #ababab;
	        box-shadow: 0 8px 6px -6px #ababab;
}



//header above//

.site-footer{
	height: 522px;
	background-color: #376daf; 
	border: solid red 1px;
}



